*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

table{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}
#slider {
    width: 80%;
    max-width: 500px;
    height: 25vw;
    max-height: 150px;
    display: flex;
    position: relative;

}

#slider img{
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}



h2{
    text-align: center;;
}
.center{
    max-width: 1100px;
    margin: 0 auto;
    padding:0 2%;
    display: flex;
}
header{
    background-color: white;
    padding: 20px 0;
    border-bottom:1px solid rgb(200,200,200);
}
.logo{
    color:#16507b;
}
.logo h2{
   font-weight: normal;
   font: 22px;
}
.menu{
    width: 80%;
    text-align: right;
}
.menu a{
    color:#124265;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
   /* transition: 0.4s;*/

}
.menu a:hover{
    color:#007bff;
}
.menu .btn-menu{
    background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
}

.menu .btn-menu{
    background-color: #124265;
    color:white;
}

/*
Selection Main
*/

section.main{
    background-image: url('img/hero-bg.jpg');
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed ;

}

.main__cta{
  width: 100%;
  margin: 60px 0;;
  text-align: center;
}

.main__cta h2{
    color:#16507b;
    font-size: 40px;
}

.main__cta p{
    color: gray;
    font-size: 19px;
    margin: 10px 0;
}

.main__cta button{
    background-color: #007bff;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.diferenciais{
    display: flex;
    flex-wrap: wrap;
}

.diferencial-single{
    border-radius: 10px;
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
}
.diferencial-single i{
    color: #124265;
    font-size: 23px;
}
 .diferencial-single h2{
     color: #124265;
     margin: 10px 0;
     font-size: 17px;
 }
 .diferencial-single p{
     color:gray;
     font-size: 14px;
     line-height: 30px;
 }

 section.sobre{
     padding: 80px 0;
 }

 .chamada-sobre{
     width: 100%;
     text-align: center;
     
 }
 .imagen1{
   
 }

 .chamada-sobre h2{
     color: #124265;
     text-transform: uppercase;
 }
 .chamada-sobre p{
     font-size: 14px;
     color: gray;
     margin: 10px 0;
 }

 .conteudo-sobre{
     display: flex;
 }
 .conteudo-sobre p{
     margin: 0 20px;
     color: #444444;
 }
 .conteudo-sobre span{
     display: inline-block;
     width: 100%;
     margin-top: 10px;
 }
 .conteudo-sobre i{
     color: #007bff;
 }

 @media screen and (max-width: 768px){
     .diferencial-single{
         width: 100%;
         margin-bottom: 20px;
     }
 }






 .box{
    color: white;
    /*position:absolute ;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 98%;
    
}
fieldset{
    border: 3px solid dodgerblue;
}
legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}